.MainChat
  .RightHeader
    .GroupInfo
      .GroupInfo__group-name
        = @group.name
      .GroupInfo__group-member
        - @group.group_users.each do |group_user|
          = group_user.user.name
    = link_to edit_group_path(@group.id) do
      .RightHeader__edit
        Edit
  .Posts
    .Post
      = render @messages
  .Form
    = form_for [@group, @message], html: {class: 'Form__new-post'} do |f|
      .InputMessage
        = f.text_field :content, class: 'InputMessage__message', placeholder: 'type a message'
        = f.label :image, class: 'InputMessage__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'Form__new-post__send-btn'